---
import type { Resume } from '@/content/config';

const { data } = Astro.props;
const { basics } = data as Resume;
const { summary } = basics;
---

<article>
  {summary.map(({ paragraph }) => <p>{paragraph}</p>)}
</article>

<style>
  article {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
</style>
